<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow"
>
  <h3 class="my-0 mr-md-auto font-weight-normal brand">
    <div class="brand-image"></div>
    <strong>Paradise Rentals</strong>
  </h3>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2" routerLink="/"><button mat-button>Home</button></a>
    <a class="p-2" routerLink="/property/123"
      ><button mat-button>About</button></a
    >
  </nav>
  <a class="btn btn-outline-primary" href="#">Send Request</a>
</div>
